[Unit]
SourcePath=/etc/sysconfig/chromedriver
Description=Standalone ChromeDriver
After=network.target

[Service]
Type=simple
User={{ chromedriver_service_user | default('daemonan') }}
Group={{ chromedriver_service_group | default('daemon') }}
ExecStart={{ chromedriver_install_prefix }}/bin/chromedriver
PrivateTmp=ture

[Install]
WantedBy=multi-user.target
